<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <h1>Welcome to my Pantry</h1>
    <%- include('../partials/_navbar.ejs') %>
    <% if (pantry.length > 0) { %>
      <% pantry.forEach((item) => { %>
        <div>
          <a href="/users/<%= user._id %>/foods/<%= item._id %>">
            <li><%= item.food %></li>
          </a>
          <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
          <a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">
            <button type="submit">Edit</button>
          </a>
      </div>
      <% }) %>
   <% } else { %>
    <p>There are no items in this pantry</p>
   <% } %>

  </body>
</html>
